
upstream app {
    server app:80;
}

upstream cloud {
    server cloud:80;
}

#upstream gitlab {
#    server gitlab:80;
#}

#upstream grafana {
#    server monitoring:3000;
#}

#upstream prometheus {
#    server monitoring:9090;
#}

#upstream alertmanager {
#    server monitoring:9093;
#}

#server {
#  listen                80 default_server;
#  server_name           {{ server_hostname }} www.{{ server_hostname }};
#
#  return 301 https://{{ server_hostname }}$request_uri;
#}

server {
  listen               443 ssl;
  server_name          {{ server_hostname }} www.{{ server_hostname }};
  ssl_certificate      /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
  location / {
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_pass         http://app;
  }

}

server {
  listen          443 ssl;
  server_name     cloud.{{ server_hostname }};
  error_page 497 https://$host:$server_port$request_uri;
  ssl_certificate      /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;

  location / {
    proxy_set_header   Host $host:$server_port;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_pass         http://cloud;
  }
}

#server {
#  listen          443 ssl;
#  server_name     gitlab.{{ server_hostname }};
#  error_page 497 https://$host:$server_port$request_uri;
#  ssl_certificate      /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
#  ssl_certificate_key  /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
#
#  location / {
#    proxy_set_header   Host $host:$server_port;
#    proxy_set_header   X-Real-IP $remote_addr;
#    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header   X-Forwarded-Proto $scheme;
#    proxy_pass         http://gitlab;
#  }
#}

#server {
#  listen          443 ssl;
#  server_name     grafana.{{ server_hostname }};
#  ssl_certificate      /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
#  ssl_certificate_key  /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
#
#  location / {
#    proxy_set_header   Host $host:$server_port;
#    proxy_set_header   X-Real-IP $remote_addr;
#    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header   X-Forwarded-Proto $scheme;
#    proxy_pass         http://grafana;
#  }
#}

#server {
#  listen          443 ssl;
#  server_name     prometheus.{{ server_hostname }};
#  ssl_certificate      /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
#  ssl_certificate_key  /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
#
#  location / {
#    proxy_set_header   Host $host:$server_port;
#    proxy_set_header   X-Real-IP $remote_addr;
#    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header   X-Forwarded-Proto $scheme;
#    proxy_pass         http://prometheus;
#  }
#}

#server {
#  listen          443 ssl;
#  server_name     alertmanager.{{ server_hostname }};
#  ssl_certificate      /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
#  ssl_certificate_key  /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
#
#  location / {
#    proxy_set_header   Host $host:$server_port;
#    proxy_set_header   X-Real-IP $remote_addr;
#    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header   X-Forwarded-Proto $scheme;
#    proxy_pass         http://alertmanager;
#  }
#}
Footer
